@import url('https://fonts.googleapis.com/css?family=Lato|Racing+Sans+One');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    background-color: azure;
    overflow: auto;
    font-family: 'Lato', sans-serif; 
}

h1, h2, h3, h4, h5 {
    font-family: 'Racing Sans One', cursive;
}
.post {
    background-color: orange;
}

.comments {
    display: none;
    background-color: aquamarine;
}

.hide-comment {
    display: none;
}


/*#menu-blog {
    transform: translateX(0);
}
#menu-blog:hover {
    background-color: bisque;
}

@keyframes blog {
    from { background-color: bisque;
           transform: translateX(0);
    }
    to { background-color: lawngreen;
         transform: translateX(-30px);
    }
}

.menu-blog-active {
    animation-name: blog;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

.menu-blog-standby {
    background-color: lawngreen;
    position: relative;
    left: -30px;
}*/


#header
{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 5%;
    height: 20%;
    background-color: hotpink;
    align-items: center;

}

#header a {
    font-family: 'Racing Sans One', cursive;
    font-size: 300%;
    text-decoration: none;
    color: white;
}
#header a:hover {
    text-shadow: -2px 2px 0 black;
}

@keyframes menu-hide {
    from {
        transform: translateY(0)
    }

    to {
        transform: translateY(-1000%)
    }
}

@keyframes menu-return {
    from {transform: translateY(-1000%);}
    to {transform: translateY(0);}
    
}

.menu-main {
    tranform: translateY(0);
}

/*.menu-inactive {
    transform: translateY(-10px);
}*/ 

.menu-inactive {
    animation-name: menu-hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;    
}
  
.menu-standby {
    position: relative;
    top: -100px;
    background-color: purple;
    transform: translateY(-1000%); 
}

.menu-active {
    animation-name: menu-return;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#layout-container {
    margin-top: 15%;
    background-color: yellow;
}

div#form-log {
    background-color: rgba(255, 165, 2, 0.9);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center
}

.modal-form {
    width: 50%;
    background-color: aqua;
    padding: 30px;
}

.modal-form p {
    margin: 0;
}
.modal-form form {
    display: flex;
    flex-direction: column
}

.modal-form input{
    margin: 10px 0;
    font-size: 20px;
    border: none
}

.modal-form input[type=text],input[type=password] {
    padding: 5px;
}

.modal-form input[type=submit] {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: springgreen;
    border: none;
    box-shadow: none;

}

.modal-form input[type=submit]:hover {
    background-color: white;
    color: springgreen;
    /*border: 1px solid black;*/
}

.p-link {
    color: hotpink;
    font-weight: bold;
    font-size: 16px;
}

.p-link:hover {
    color: mediumspringgreen;
    cursor: pointer;
}