* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
}

.post {
    background-color: orange;
}

.comments {
    display: none;
    background-color: aquamarine;
}

.hide-comment {
    display: none;
}
