@model IEnumerable<Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole>

@{
    ViewData["Title"] = "Portfolio :: Blog :: ROLES";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage Roles", "Manage")

<h2>Existing Roles</h2>
@if (Model.Any())
{
    foreach(var role in Model)
    {
        <p>
            @role.Name
            @Html.ActionLink("Delete", "Delete", new { roleName = role.Name})
        </p>
    }
}
else
{
 <p><em>No roles have been created yet.</em></p>
}

 