@model Portfolio.Models.Comment
@{
}  
<script src="~/js/comment.js"></script>

this was changed marginally yet again.
<h3>Add a Comment</h3>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "comment-create" }))
{
    @Html.HiddenFor(model => model.PostId)
    <p>Name (optional)</p>
    @Html.TextBoxFor(model => model.Author)
    <br>
    <br>
    @Html.TextAreaFor(model => model.Content)
    <br>
    <br>
    <input type="submit" value="Submit" />
}
