@model Portfolio.Models.Comment

<h3>Add a Comment</h3>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PostId)
    <p>Name (optional)</p>
    @Html.TextBoxFor(model => model.Author)
    <br>
    <br>
    @Html.TextAreaFor(model => model.Content)
    <br>
    <br>
    <input type="submit" value="Submit" />
}
