
@{
    ViewData["Title"] = "Portfolio :: Blog"; 
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

@using System.Security.Claims
<h1>blog partial?</h1>
hey there345
@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
    using (Html.BeginForm("LogOut", "Account"))
    {
        <input type="submit" value="Log Out"/> 
    }  
}
else
{
    <p>@Html.ActionLink("Log in", "Login")</p>
    <p>@Html.ActionLink("Register", "Register")</p>

}  