@using Portfolio.ViewModels
@model LoginViewModel
<script type="text/javascript"> 
     $('#register').click(function(){
        if (!'#form-log'.length())
        {
            alert("this isn't here!");
        }
        $.ajax({
            type: 'GET',
            dataType: 'html',
            url: '/Account/Register',
            success: function(result) {
            $('#form-log').html(result)
            }
        });
     })
    // exit modal
    $('.exit').click(function(){
        $('#form-log').css("display", "none");
    });

</script>
<div class="modal-form">
    <div class="exit">✕</div>
    <h2>Log In</h2>
    @using (Html.BeginForm())
    {
        <p>Username</p>
        @Html.TextBoxFor(m => m.UserName, new {@required="required"})
        <br>
        <p>Password</p>
        @Html.PasswordFor(m => m.Password, new {@required="required"})
        <input type="submit" value="Log In"/>
    }
     
    <p id="register" class="p-link">Don't have an account? Register here.</p>
</div>

