@using Portfolio.ViewModels
<script type="text/javascript">
    $('.exit').click(function(){
        if(!$('#form-log').length){
            $('.modal-form').last().css('display', 'none');
            $('.modal-form').first().show();
            alert(":3");
        } else {
            $('#form-log').css("display", "none");
        }
    });
</script>
@model RegisterViewModel
<div class="modal-form">
        <div class="exit">✕</div>
    <h2>Register </h2>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <p>Username</p>
        @Html.TextBoxFor(user=> user.UserName)
        
        <p>Email(optional)</p>
        @Html.TextBoxFor(user=> user.Email, new { placeholder= "optional"} )

        <p>Password</p>
        @Html.PasswordFor(user=> user.Password)

        <p>Confirm Password</p>
        @Html.PasswordFor(user=> user.ConfirmPassword)

        <input type="submit" value="Register" />
    }
</div>