
@{
    ViewData["Title"] = "Portfolio :: SPLASH"; 
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div id="splash-row">
    <div class="splash-item">
        <img src="~/img/cats.png"/> 
    </div>
    <div class="splash-item">
        <img src="~/img/splash2.png"/> 
    </div>
    <div class="splash-item"> 
        <h1>Hi, I'm Kim.</h1>
        <p>Coding is my jam.</p>
        
    </div> 
</div>
<div id="contact">
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <div id="home-contact">
        <div id="contact-links">
            <a href="https://github.com/kbordon" target="_blank"><img src="~/img/github.png"></a> 
            <a href="https://linkedin.com/in/kbordon" target="_blank"><img src="~/img/li.png"></a> 
            <a href="mailto:kbordon@gmail.com" target="_blank"><img src="~/img/email.png"></a>   
        </div>
        
        <p>I'm a student at <a href="http://www.epicodus.com" target="_blank">Epicodus</a>, though prior to that I worked customer service for about 10 years. I love trying to figure out how to make apps work, and interweaving that functionality with a bright, eye-catching design. All while still having the user experience in mind, of course. </p>
        <p>I had my first taste of code playing around with HTML, making little fan shrines on Angelfire, and Geocities. Flash forward to now, I've decided to pursue a career in programming, not just to make more fansites though.</p>
        <p>I've worked with C#, ASP.NET, MySql, and JavaScript name a few, and I'm excited to dip my hands in more.</p>
    </div>
</div>
<div id="work">
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <div id="home-projects"></div>
</div>
  