
@{
    ViewData["Title"] = "Portfolio :: SPLASH"; 
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div id="splash-row">
    <div class="splash-item">
        <img src="~/img/cats.png"/> 
    </div>
    <div class="splash-item">
        <img src="~/img/splash2.png"/> 
    </div>
    <div class="spash-item">
        <h1>Hi, I'm Kim.</h1>
        <p>Coding is my jam.</p>
    </div> 
</div>
<div id="contact">
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
    <h1>ME</h1>
</div>
<div id="work">
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <h1>WORK</h1>
    <div id="home-projects"></div>
</div>
  