
@{
    ViewData["Title"] = "Portfolio :: SPLASH"; 
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<p>
We landed!
</p>

<p>
Where to next?
</p>

@Html.ActionLink("Blog", "Index", "Blog")
<a href="#about">Work</a>
<a href="#contact">Contact</a>