@model Portfolio.Models.Post

<p id="cancel">x</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)

    @Html.EditorFor(m => m.Title)

    @Html.EditorFor(m => m.Date)

    @Html.EditorFor(m => m.Content)
    <input type="submit" value="Save Changes"/> 
}
