<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="~/js/scripts.js"></script>
    @RenderSection("Scripts", false)
    <link rel="stylesheet" type="text/css" href="~/css/master.css"> 
</head>
<body>
   @Html.Partial("Header") 
    <div id="layout-container">
        @RenderBody()
    </div>
</body>
</html>
 