<div id="header">
    @Html.ActionLink("Home", "Index", "Home")
    <a class="menu-main" href="#about">Work</a>
    <a class="menu-main" href="#contact">Contact</a>
    @Html.ActionLink("Blog", "Index", "Post", null, new {id="menu-blog"}) 
</div> 