<div id="header">
    @Html.ActionLink("Home", "Index", "Home")
    <a href="#about">Work</a>
    <a href="#contact">Contact</a>
    @Html.ActionLink("Blog", "Index", "Post", null, new {id="menu-blog"})
    @Html.ActionLink("Log In", "Index", "Account") 
</div>